<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
</head>
<body>
Hello.<br/><br/>

You received a friendly e-mail from SmartStuff.Me regarding project activation procedure.<br/>
To proceed please visit:  <a href="http://smartstuff.me:8080/?{{ url }}"/>http://smartstuff.me:8080/?{{ url }} </a> <br/><br/>

If you made a mistake you can still remove project and start from beggining or leave for ever - life is brutal.<br/>
It really removes: <a href="http://smartstuff.me:8080/delete?{{ url }}"/>http://smartstuff.me:8080/delete?{{ url }} </a>

However most of the time, life gives you another chance.<br/>
Click this to edit: <a href="http://smartstuff.me:8080/edit?{{ url }}"/>http://smartstuff.me:8080/edit?{{ url }} </a>

Have a nice day,<br/>
Piotr Suwała & Jakub Sadowski
</body>
</html>